<%- include('includes/head.ejs') %>
<%- include('includes/nav.ejs') %>
<div class="container">
  <% for(var i=0; i < posts.length; i++) { %>
    <h2><%= posts[i].title %></h2>
    <h2><%= posts[i].author %></h2>
    <div><%- posts[i].excerpt %></div>
    <%= posts[i].image%>
    <%- posts[i].image%>
  <% } %>
</div>
  </body>
</html>
